.titulo{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 7px;
    color: wheat;
}

.boton{
    color: mediumslateblue;
    font-size: 20px;
    border: mediumslateblue;
    border-radius: 3px;
    background-color: aliceblue;
    width: 200px;
    height: 40px;
    margin-left: 20px;
}
.boton:hover{
   color: white;
   background-color: mediumslateblue;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}